[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
pillow = "*"
pyzbar = "*"
pymupdf = "*"

[dev-packages]

[scripts]
verify = "python verify.py"
