[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
pillow = "*"
pyzbar = "*"
pymupdf = "*"
click = "*"
colorama = "*"

[dev-packages]
pytest = "*"
black = "*"

[scripts]
greenpass = "python -m greenpass"
test = "pytest"
